.Register {
    padding: 30px;
    text-align: center;
}
.textInput {
    padding: 10px;
    border: 0.5px solid rgb(18, 18, 18);
    border-radius: 6px;
    width: 300px;
}
.NameNotice {
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.FormSection {
    margin: 15px;
    text-align: left;
}
label {
    display: block;
    margin: 3px;
    font-weight: bold;
    font-size: 13px;
}

@media only screen and (max-width: 600px){
    .Logo {
        width: 40%;
    }
}

@media only screen and (min-width: 600px){
    .Logo {
        width: 35%;
    }
}

@media only screen and (min-width: 768px){
    .Logo {
        width: 20%;
    }
}

@media only screen and (min-width: 992px){
    .Logo {
        width: 15%;
    }
}